<section>
  <h2>Crie sua própria sala</h2>
  
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-id">Senha da sala</label>
    <input type="password" name="password" id="room-id" placeholder="Insira uma senha" required>
    
    <button type="submit">
      <img src="/images/users-white.svg" alt="Entrar na sala">
      Criar na sala
    </button>
  </form>
</section>